[package]
name = "clip-mash"
version = "0.14.0"
edition = "2021"

[dependencies]
aubio = { version = "0.2.1", features = ["builtin"] }
axum = { version = "0.6.20", features = ["macros", "multipart"] }
camino = { version = "1.1.6", features = ["serde1"] }
color-eyre = "0.6.2"
directories = "5.0.1"
futures = "0.3.28"
graphql_client = "0.13.0"
hound = "3.5.0"
include_dir = "0.7.3"
itertools = "0.11.0"
lazy_static = "1.4.0"
opener = "0.6.1"
ordered-float = "3.7.0"
rand = "0.8.5"
regex = "1.9.3"
reqwest = { version = "0.11.18", features = ["json"] }
sanitise-file-name = "1.0.0"
serde = { version = "1.0.183", features = ["derive"] }
serde_json = "1.0.104"
sqlx = { version = "0.7.1", features = ["runtime-tokio",  "sqlite"] }
tokio = { version = "1.30.0", features = ["full"] }
tokio-stream = "0.1.14"
tokio-util = { version = "0.7.8", features = ["io"] }
tower = "0.4.13"
tower-http = { version = "0.4.3", features = ["fs"] }
tracing = "0.1.37"
tracing-appender = "0.2.2"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
walkdir = "2.3.3"
webbrowser = "0.8.10"
youtube_dl = { version = "0.8.1", features = ["tokio", "downloader"] }
url = { version = "2.4.0", features = ["serde"] }
float-cmp = "0.9.0"
utoipa = { version = "3.4.4", features = ["axum_extras"] }
utoipa-swagger-ui = { version = "3.1.5", features = ["axum"] }
utoipa-redoc = { version = "0.1.0", features = ["axum"] }
utoipa-rapidoc = { version = "0.1.0", features = ["axum"] }

[target.'cfg(unix)'.dependencies]
tar = "0.4.40"
xz2 = "0.1.7"

[target.'cfg(windows)'.dependencies]
zip = "0.6.6"

[profile.dev.package.sqlx-macros]
opt-level = 3

[dev-dependencies]
fake = "2.6.1"
tracing-test = "0.2.4"
mock_instant = "0.3.1"
