[package]
name = "clip-mash"
version = "0.11.0"
edition = "2021"

[workspace]
members = ["clip-mash-types"]

[dependencies]
aubio = { version = "0.2.1", features = ["bindgen"] }
axum = { version = "0.6.18", features = ["macros", "multipart"] }
camino = { version = "1.1.4", features = ["serde1"] }
color-eyre = "0.6.2"
clip-mash-types = { path = "clip-mash-types" }
directories = "5.0.1"
futures = "0.3.28"
graphql_client = "0.13.0"
hound = "3.5.0"
include_dir = "0.7.3"
itertools = "0.10.5"
lazy_static = "1.4.0"
opener = "0.6.1"
ordered-float = "3.7.0"
rand = "0.8.5"
regex = "1.8.3"
reqwest = { version = "0.11.18", features = ["json"] }
sanitise-file-name = "1.0.0"
serde = { version = "1.0.163", features = ["derive"] }
serde_json = "1.0.96"
sqlx = { version = "0.7.0-alpha.3", features = ["runtime-tokio",  "sqlite"] }
tokio = { version = "1.28.2", features = ["full"] }
tokio-stream = "0.1.14"
tokio-util = { version = "0.7.8", features = ["io"] }
tower = "0.4.13"
tower-http = { version = "0.4.0", features = ["fs"] }
tracing = "0.1.37"
tracing-appender = "0.2.2"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
walkdir = "2.3.3"
webbrowser = "0.8.10"
youtube_dl = { version = "0.8.1", features = ["tokio", "downloader"] }
url = { version = "2.3.1", features = ["serde"] }
float-cmp = "0.9.0"

[target.'cfg(unix)'.dependencies]
tar = "0.4.38"
xz2 = "0.1.7"

[target.'cfg(windows)'.dependencies]
zip = "0.6.6"

[profile.dev.package.sqlx-macros]
opt-level = 3

[dev-dependencies]
fake = "2.6.1"
tracing-test = "0.2.4"
mock_instant = "0.3.1"

[build-dependencies]
typescript-type-def = "0.5.6"
clip-mash-types = { path = "clip-mash-types" }
