name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Install ffmpeg
        run: sudo apt-get update && sudo apt-get -y --no-install-recommends install ffmpeg libglib2.0-dev
      - name: Setup Rust toolchain
        run: rustup toolchain install stable --profile minimal
      - name: Install Tauri dependencies
        run: cd crates/clip-mash-app && npm ci && npm run format-check && npm run lint && npm run test && npm run build
      - uses: Swatinem/rust-cache@v2
      - name: Install cargo-nextest
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-nextest
      - name: Test Rust
        env:
          SQLX_OFFLINE: "true"
        run: cargo fmt --check --all && cargo nextest run --retries=3
