name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: "18.x"
    - name: Install ffmpeg 
      run: sudo apt-get update && sudo apt-get -y --no-install-recommends install ffmpeg
    - name: Build Node
      run: cd frontend && npm ci && npm run format-check && npm run lint && npm run test && npm run build
    - name: Test Rust
      env:
        SQLX_OFFLINE: "true"
      run: cd backend && cargo fmt --check --all && cargo test --all
